<div *ngIf="player else emptyPlayer" class="player d-flex flex-column h-100">
    <div class="player-header" [ngClass]="{ 
        'bg-warning':player.isCurrentPlayer, 
        'bg-secondary':!player.isCurrentPlayer,
        'text-light': !player.isCurrentPlayer }"
        [ngbPopover]="actionPopoverTemplate" [autoClose]="false" triggers="manual"
        #actionPopover="ngbPopover" popoverClass="player-action-popover">
        <ngb-progressbar [ngClass]="{'on': player.isCurrentPlayer, 'off': !player.isCurrentPlayer}"
                         type="warning" [value]="countDown" [max]="player.countDown - 1">
            <span class="player-name">{{player.id + (!player.isConnected ? '(off)' : '')}}</span>
        </ngb-progressbar>
        <!-- <div *ngIf="!player.isCurrentPlayer"> -->
            <!-- {{player.id}}&nbsp; -->
            <!-- <app-count-down *ngIf="player.isCurrentPlayer && player.isConnected" [count]="player.countDown"></app-count-down> -->
            <!-- <span *ngIf="!player.isConnected" class="badge badge-pill badge-danger">(offline)</span> -->
        <!-- </div> -->
    </div>
    <div class="player-cards flex-grow-1 w-100 position-relative">
        <app-playing-card *ngIf="player.cards[0]" [isBackVisible]="!player.isHandVisible" [bigSymbolVisible]="false" @inOutAnimation
            [card]="cardService.cardFromString(player.cards[0])"></app-playing-card>
        <app-playing-card *ngIf="player.cards[1]" [isBackVisible]="!player.isHandVisible" [bigSymbolVisible]="false" @inOutAnimation
             [card]="cardService.cardFromString(player.cards[1])"></app-playing-card>
    </div>
    <div class="player-footer d-flex flex-row bg-secondary text-light">
        {{player.chips}}
        <span *ngIf="player.isDealer" class="badge badge-pill badge-primary">D</span>
        <span *ngIf="player.isWinner" class="badge badge-primary" @winnerAnimation>Winner</span>
    </div>
</div>

<ng-template #actionPopoverTemplate>
    <div class="player-action bg-primary text-light" *ngIf="isActionVisible" @popoverAnimation>
        {{ actionName }}
        <span *ngIf="isActionAmountVisible">: {{ actionAmount }}</span>
    </div>
</ng-template>

<ng-template #emptyPlayer>
    <div class="empty-player">
    👤
    </div>
</ng-template>
