:host {
    display: block;
    position: relative;
    background-color: whitesmoke;
}

.player-footer,
.player-action,
.player-header {
    font-size: 75%;
    font-weight: bold;
    padding: 0.5rem;
    word-break: keep-all;
}

app-playing-card {
    position: absolute;
    height: 75%;
    width: 50%;
}