.player-action-popover {
    border-radius: 1rem;
    border: 0 solid transparent;

    .popover-body {
        padding: 0;
        border-radius: 1rem;
        border: 0 solid transparent;
        overflow: hidden;
    }
    .arrow::after {
        border-top-color: #007bff;
    }
}

.player-header {
    ngb-progressbar {
        &.on {
            .progress {
                background: #886600;
            }
        }
        &.off {
            .progress {
                div.progress-bar {
                    background: #6c757d!important;
                }
            }
        }
        .progress {
            height:auto;
            background: #6c757d;

            

            div.progress-bar {
                overflow: visible;
            }
        }
    }
}