<div [ngClass]="{red: card.suit === cardSuitEnum.Diamonds || card.suit === cardSuitEnum.Hearts,
               black: card.suit === cardSuitEnum.Spades || card.suit === cardSuitEnum.Clubs}">
    <span class="float-left">{{ card.number }}</span>
    <span class="float-left w-100">{{ card.suitSymbol }}</span>
    <span *ngIf="bigSymbolVisible" class="float-right" style="font-size: 2rem; margin-left: -0.7rem; margin-top: -0.7rem;">
    {{ card.suitSymbol }}
    </span>
</div>
<!-- <span style="font-size:5rem; text-align:center; vertical-align:middle; color:red">🃚</span> -->
