:host {
    line-height: 1;
    border: 1px solid gray;
    padding: 0.5rem;
    display: block;
    background: white;
    box-shadow: 0.125rem .25rem rgba(0,0,0,.075);
    border-radius: 0.25rem;
    max-width: 3.5rem;
}

.red {
    color: red;
}

.black {
    color: black;
}